 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 967px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 66px 297px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/e76d86ebd6a5b23e841756aec5c79779ba263fd6b086d6f09151bdd1becca3cb7aac81b9a71d5f06eedaec3ec9a0f0b8c3522d42e0b9931eddb09e_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("images/04c5f15541d0df7701ccb4b10e2ee831710e2925f27f210d1e35e89bdd98147bdb50728d2006e34040242df112d983ec70fa134b551c57d02cadbb_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 288px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-top: 33px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 288px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 255px;
  background-image: url("images/34ce4be3975bd985bb682d539f0a177a405e28a492820ad3d27913e2558a4067c96dfc9dfc29e511ba3fb711d4b8f158f329b6c2bfde5d037552b5_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 288px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 33px 0 0;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.8;
  font-style: italic;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 288px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 255px;
  height: 255px;
  background-image: url("images/f58a3e50be2df699d8374985facc4fca4e0de0cd5150cad0e7ec50690ecd4f39ccb040a7f88a1cf2b2664bdcf1210cdff347e6b8077b1ff3afe336_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -8px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-3 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-4 {
    width: 235px;
    height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -82px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 237px;
  }

  .u-section-1 .u-image-3 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 237px;
  }

  .u-section-1 .u-image-4 {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -273px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-1 .u-image-1 {
    width: 500px;
    height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-1 .u-image-2 {
    width: 500px;
    height: 500px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 534px;
    order: 0;
  }

  .u-section-1 .u-image-3 {
    width: 500px;
    height: 500px;
  }

  .u-section-1 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 536px;
    order: 2;
  }

  .u-section-1 .u-image-4 {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2018px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 336px;
  }

  .u-section-1 .u-image-3 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 337px;
  }

  .u-section-1 .u-image-4 {
    width: 300px;
    height: 300px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 684px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-2 .u-image-1 {
  min-height: 273px;
  background-image: url("images/a4b20211212ae673c8884bb55423567f699af450f8c4dca0bac5b3da20bee6c9a212502b6c9d969924d4374ecbd604a92de391b2fb03a6a8f28720_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 273px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 273px;
  background-image: url("images/c65c86cbf7e5163b54908a9ae9729be3176c5ba547bff0d85a1b1b03f365c8fac010d8251b093480a70ceff578225f77f1e3292255496c481907fd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 273px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 273px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 273px;
  background-image: url("images/1df20d7208bf57ab02bbdbfa1ee428e077d6973bbc95f4a12c2ceba7714108129328d618dcbcd886ba0f3367a48d6be83b4b989b58291d425afd6f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 273px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 273px;
  background-image: url("images/82bc4ef8ae54f7a50bf4171716e3e8dc3bc5240e71c3dcc9116e0fea5e0d5cb21a56ff52cb29d87179e93b29d7cff0fce40bf387f6d2901eeb7933_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 225px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-2 .u-image-2 {
    min-height: 225px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 225px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 225px;
  }

  .u-section-2 .u-image-3 {
    min-height: 225px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 225px;
  }

  .u-section-2 .u-image-4 {
    min-height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-image-1 {
    min-height: 345px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-image-2 {
    min-height: 345px;
    order: 3;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-image-3 {
    min-height: 345px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
    order: 2;
  }

  .u-section-2 .u-image-4 {
    min-height: 345px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1852px;
  }

  .u-section-2 .u-image-1 {
    min-height: 518px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 518px;
    order: 2;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 518px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 518px;
    order: 2;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-2 .u-image-1 {
    min-height: 326px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 326px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 326px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 326px;
  }
}